
<h3 style="color: #b89e37;text-align: center;font-size: 40px;margin-top: 50px;">Orders</h3>
<input type="number" id = "len" value="<%=(orders.length-1) %>" style="position: absolute;visibility: collapse;">
    <% for(var i=(orders.length-1);i>=0;i--){ %>
        <input type="number" id = "len2<%=i%>" value="<%=(orders[i].items.length) %>" style="position: absolute;visibility: collapse;">
    <% for(let j = 0;j<orders[i].items.length;++j){ %>
        
    <div class="admin_orders">

            <p><span style="font-weight:bolder;">Item Name: </span> <%=orders[i].items[j].name%></p>
            <p><span style="font-weight:bolder;">Quantity: </span><%=orders[i].items[j].quantity%></p>
            <p><span style="font-weight:bolder;">Total Price: </span> ₹<%=orders[i].items[j].total_price%></p>
            <p><span style="font-weight:bolder;">Original Price: </span> ₹<%=orders[i].items[j].original_price%></p>
            <p><span style="font-weight:bolder;">Discount Applied:
                </span><%=(100*((orders[i].items[j].original_price-(orders[i].items[j].total_price/orders[i].items[j].quantity))/orders[i].items[j].original_price))%>%
            </p>
            <p><span style="font-weight:bolder;">Order Id: </span> <%=orders[i].order_id%>_<%=j%></p>
             
            
           
                <% { %>
                    <%var obj = track.find(o => o.order_id === orders[i].order_id+"_"+j)%>
                 <% if(typeof obj!=='undefined'){ %>
                    
                    <% if(obj.shiprocket_order_info[0]==='<'){ %>
                        <p><span style="font-weight:bolder;">Shiprocket Id: </span>  N/A </p>
                        <p id = "ship<%=i%><%=j%>">Shipment Id: N/A </p>
                        
                        <p id = "status<%=i%><%=j%>">Status :   N/A </p>
                            <% } %> 
                        <% if(obj.shiprocket_order_info[0]!=='<'){ %>
                            <p><span style="font-weight:bolder;">Shiprocket Id: </span>   <%= JSON.parse(obj.shiprocket_order_info).order_id %> </p>
                            <p id = "ship<%=i%><%=j%>">Shipment Id: <%= JSON.parse(obj.shiprocket_order_info).shipment_id %> </p>
                            
                            <p id = "status<%=i%><%=j%>">Status : </p>        
                            <% } %>
                    
                    <% } %>  
                    <% } %> 
    
            
            
            <p><span style="font-weight:bolder;">Customer Name: </span> <%=orders[i].customer_name%></p>
            <p><span style="font-weight:bolder;">Customer Email: </span> <%=orders[i].customer_email%></p>
            <p><span style="font-weight:bolder;">Phone Number: </span> <%=orders[i].customer_phone%></p>
            <p><span style="font-weight:bolder;">Billing Address: </span> <%=orders[i].billing_address%></p>
            <p><span style="font-weight:bolder;">City: </span> <%=orders[i].city%></p>
            <p><span style="font-weight:bolder;">Pincode: </span> <%=orders[i].pincode%></p>
            <p><span style="font-weight:bolder;">State: </span> <%=orders[i].state%></p>
            <p><span style="font-weight:bolder;">Total Amount: </span> <%=orders[i].total_amount%></p>
            <p><span style="font-weight:bolder;">Date: </span> <%=orders[i].date%></p>
            <%if(orders[i].payment_id=="COD"){%>
            <p><span style="font-weight:bolder;">Payment Method: </span> COD</p>

            <%}%>
            <%if(orders[i].payment_id!="COD"){%>
                <p><span style="font-weight:bolder;">Payment Method: </span> Paid Online</p>
    
                <%}%>
          
    </div>




    <% } %>
            <% } %>


<script>

    
      var stat = ["Awb Assigned", "Label Generated",
                "Pickup Scheduled/Generated", "Pickup Queued",
                "Manifest Generated", "Shipped", "Delivered", "Cancelled",
                "RTO Initiated", "RTO Delivered", "Pending", "Lost",
                "Pickup Error", "RTO Acknowledged", "Pickup Rescheduled", "Cancellation Requested",
                "Out For Delivery",
                "In Transit", "Out For Pickup", "Pickup Exception", "Undelivered", "Delayed", "Partial_Delivered",
                "Destroyed", "Damaged",
                "Fulfilled", 
                "","","","","","","","","","","",
                "Reached at Destination", "Misrouted", "RTO NDR", "RTO OFD", "Picked Up",
                "Self Fulfilled", "DISPOSED_OFF", "CANCELLED_BEFORE_DISPATCHED",
                "RTO_IN_TRANSIT"
            ]



             
   for (let i = 0; i <= Number(document.getElementById('len').value); ++i) {


for (let k = 0; k < Number(document.getElementById('len2' + i).value); ++k) {





    var myHeaders4 = new Headers();
    myHeaders4.append("Content-Type", "application/json");

    var myHeaders2 = new Headers();
                    myHeaders2.append("Content-Type", "application/json");

                    var raw2 = JSON.stringify({
                        "email": "vinay9415756155@gmail.com",
                        "password": "Vishuddha@1120"
                    });

                    var requestOptions2 = {
                        method: 'POST',
                        headers: myHeaders2,
                        body: raw2,
                        redirect: 'follow'
                    };
    fetch("https://apiv2.shiprocket.in/v1/external/auth/login", requestOptions2)
        .then(response => response.text())
        .then(result => {
            var myHeaders3 = new Headers();
            myHeaders3.append("Content-Type", "application/json");
            myHeaders3.append("Authorization", "Bearer " + JSON.parse(result).token);
            var requestOptions3 = {
                method: 'GET',
                headers: myHeaders3,
                redirect: 'follow'
            };
            
            
            if (document.getElementById('ship' + i + k).innerHTML.split(':')[1].trim()!=="N/A") {
                //////////////////////////////////////////////////////////////////////////////////


                fetch("https://apiv2.shiprocket.in/v1/external/shipments/" + document
                        .getElementById('ship' + i + k).innerHTML.split(':')[1].trim(),
                        requestOptions3)
                    .then(response => response.text())
                    .then(result => {

                  document.getElementById('status'+i+k).innerHTML = "Status : " +stat[JSON.parse(
                                            result).data.status - 1] 

                    })
                    .catch(error => console.log('error', error));
            } else {
                document.getElementById('status' + i + k).innerHTML = "Status : Cancelled"
            }
        })

    


}
   }    
</script>



            <style>
                .admin_orders {
                    width: 60%;
                    font-size: 14px;
                    margin: 0 auto;
                    border-style: solid;
                    border-radius: 10px;
                    padding: 20px 50px;
                    margin-bottom: 50px;
                    font-family: Lato, arial, sans-serif;
                    border-color: rgb(116, 116, 116);
                    border-width: 2px;
                    color: #4c4c4c;
                }

                .admin_orders p {
                    margin: 5px 0;
                }

                .totalorder {
                    width: 65%;
                    margin: 0 auto;

                    margin-bottom: 50px;
                    font-family: Lato, arial, sans-serif;
                    border-color: rgb(116, 116, 116);
                    border-width: 2px;
                    color: #4c4c4c;
                }
            </style>