<%- include('head-foot/header'); -%>

<div class="main_box_blog">
    <a class="findoutmore" href="/blog"><i class="fas fa-caret-left"></i> All Posts</a>
    <div class="data_flex">
        <div class="data_box">
            <h3 class="currentpost_title"><%= title %></h3>
            <p class="currentpost_date"><%= date %></p>
            <img class="currentpost_image" src="<%=img%>" alt="">




            <div class="currentpost_data">
                <% for(var i=0;i<data.length;i++){%>
                <p><%=data[i]%></p>
                <%} %>
            </div>
        </div>
    </div>

</div>


<%- include('head-foot/footer'); -%>






<script>
    document.getElementById("blog").style.borderBottom = "2px solid rgb(212, 180, 53)";
    document.getElementById("blog").style.paddingBottom = "5px";
    document.getElementById("blog").style.boxShadow = "0px 5px 5px #e8e8e8";
</script>