<%- include('head-foot/header'); -%>


<div class="main_box_blog">
  <a class="findoutmore" href="/products"><i class="fas fa-caret-left"></i> All Products</a>
  <div class="product_box_flex">
    <div class="product_i_image">
      <img class="product_i_img" src="<%=found.product_image%>" alt="product image">
    </div>
    <div class="product_i_details">
      <h1 class="product_i_details_heading"><%=found.product_name%></h1>
      <p class="product_i_details_price" id="price">₹
        <%=(found.product_price-((found.product_price*found.product_discount)/100))%></p>



      <div class="input-value" style="display: flex;flex-direction: row;align-items: center;justify-content: start;">
        <button id="minus" class="input-individual-button"><i class="fas fa-minus"></i></button>
        <input type="number" class="input-individual" id="number_of_items1" onfocus="blur()" oninput="myfun()"
          value="1" />
        <button id="plus" class="input-individual-button"><i class="fas fa-plus"></i></button>
      </div>










      <p class="product_i_details_discount">Discount: ₹
        <%=((found.product_price*found.product_discount)/100)%>(<%=found.product_discount%>%)</p>
      <p id="total_price">
        Total Price : ₹ <%=(found.product_price-((found.product_price*found.product_discount)/100))%>
      </p>
      <form action="/add_to_cart/<%= id %>" style="margin:0; width: inherit;" method="POST" novalidate>

        <button type="submit" class="btn-add-to-cart">ADD TO CART</button>
        <input type="number" id="tot_price" style="visibility: collapse;"
          value="<%=(found.product_price-((found.product_price*found.product_discount)/100))%>" name="tot_price">


      </form>
    </div>
  </div>


  <div class="product_description">
    <h2>Products Description</h2>
    <p>The oils are made using hand-picked high quality seeds of coconut and almond and expelled using traditional
      wood-pressed method. The nutrients are preserved and aroma is sealed with every bottle manufactured.</p>
      <br>
    <h3>Product Ingredients</h3>
    <p>
      <ul>
        <li>High quality Almond and Coconut seeds</li>
        <li>Vitamin E</li>
      </ul>
    </p>
    <br>
    <h3>Product Properties</h3>
    <h4 style="margin-bottom:0">Almond Oil-</h4>
    <p style="margin-top:0.6510416666666666vw">Almond Oil is full of vitamin E, and it's a great source of magnesium, phosphorus, and copper. The
      antioxidant-rich oil is known for its free radical fighting abilities. </p>
    <h4 style="margin-bottom:0">Coconut Oil-</h4>
    <p style="margin-top:0.6510416666666666vw">Coconut Oil contains healthy fatty acids, have anti-microbial properties and is helpful in preventing skin and
      hair damage.</p>
    <h4 style="margin-bottom:0">Olive Oil-</h4>
    <p style="margin-top:0.6510416666666666vw">Olive oil is antioxidant rich and is a good source of iron, Vitamin K & E.</p>
    <br>
    <h3>How to use</h3>
    <p>These are pure oils and can be used in multipurpose ways-</p>
    <ul>
      <li>To massage the scalp</li>
      <li>As hair and face pack</li>
      <li>As body moisturizer</li>
      <li>As hair serum</li>
      <li>As lip balm</li>
    </ul>
  </div>



</div>


<script>
  var inp = document.getElementById("price").innerHTML.split(" ");
  var price = Number(inp[inp.length - 1]);

  document.getElementById("minus").addEventListener("click", () => {
    if (document.getElementById("number_of_items1").value <= 1) {
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (1 * price).toString()
      document.getElementById("tot_price").value = (1 * price);

      document.getElementById("number_of_items1").value = 1

    } else {


      document.getElementById("number_of_items1").value = Number(document.getElementById("number_of_items1")
        .value) - 1

      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (Number(document.getElementById(
        "number_of_items1").value) * price).toString()
      document.getElementById("tot_price").value = (document.getElementById("number_of_items1").value * price);

    }

  })
  document.getElementById("plus").addEventListener("click", () => {
    if (document.getElementById("number_of_items1").value >= 20) {
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (20 * price).toString()
      document.getElementById("tot_price").value = (20 * price);

      document.getElementById("number_of_items1").value = 20

    } else {


      document.getElementById("number_of_items1").value = Number(document.getElementById("number_of_items1")
        .value) + 1
      document.getElementById("tot_price").value = (document.getElementById("number_of_items1").value * price);

      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (Number(document.getElementById(
        "number_of_items1").value) * price).toString()
    }

  })

  function myfun() {

    var inp = document.getElementById("price").innerHTML.split(" ");
    var price = Number(inp[inp.length - 1]);
    var num = Number(document.getElementById("number_of_items1").value)
    if (num >= 20) {

      document.getElementById("number_of_items1").value = 20;
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (20 * price).toString()


    } else if (num < 1) {
      document.getElementById("number_of_items1").value = 1
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (1 * price).toString()

    } else if (num === 0) {
      console.log(num)
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (1 * price).toString()
      document.getElementById("tot_price").value = (1 * price);

    } else if (num * price !== NaN && num * price !== 0) {
      document.getElementById("total_price").innerHTML = "Total Price : ₹ " + (num * price).toString()
      document.getElementById("tot_price").value = (num * price);
    }
  }
</script>


<%- include('head-foot/footer'); -%>