<%- include('head-foot/header'); -%>
<div class="main_box">

    <button id="my_orders" style="border: 0;">My Orders</button>
    <input type="number" id="len" value="<%= orders.length %>" style="visibility: collapse;display: none;">
    <br><br><br>
    <div id="cart_box_head" class="order_box_head">
        <p class="head_orders_margs1">Date</p>
        <p class="head_orders_margs2">Order Id</p>
        <p class="head_orders_margs3" style="margin-right: 3.2552083333333335vw;">Total</p>
        <p class="head_orders_margs4">Coupon</p>
        <p style="flex: 1;"></p>
    </div>

    <div class="order_box1">

        <div class="orders">

            <%for(var i=(orders.length-1);i>=0;i--){%>
            <div id="order_bf_click<%=i%>" class="order_bf_click">

                <span id="date<%= i%>" class="order_style"><%=orders[i].date%></span>

                <% if(typeof orders[i].order_id ==='undefined'){ %>
                <button class="order_style2" id="but<%=i%>" style="border: 0;">Random Id </button>
                <% } %>
                <% if(typeof orders[i].order_id!=='undefined'){ %>
                <button class="order_style2" id="but<%=i%>" style="border: 0;"><%= orders[i].order_id %> </button>

                <% } %>
                <span id="totalprice<%= i%>" class="order_style"><%=orders[i].total_price%></span>

                <span id="status<%= i%>" class="order_style1"
                    style="text-transform:uppercase"><%=orders[i].items[0].coupon_code%></span>
            </div>

            <div class="order_info_box" id="order_info<%= i %>" style="display: none;">
                <div class="top_id_adress_box">
                    <div class="id_order_address">
                        <span class="id_order">
                            <span style="font-weight: bold;" id="orderid<%=i%>">Order Id-</span><br>

                            <input type="text" id="date<%= i %>" value="<%=orders[i].date%>" style="display:none;">
                            <% if(typeof orders[i].order_id ==='undefined'){ %>
                            <span id="but<%=i%>" style="border: 0;">Random Id </span>
                            <% } %>
                            <% if(typeof orders[i].order_id!=='undefined'){ %>
                            <span id="but<%=i%>" style="border: 0;"><%= orders[i].order_id %> </span>

                            <% } %>
                            <br><br>
                            <span style="font-weight: bold;">Billing Address-</span><br>
                            <span id="add<%=i%>">Address : </span><br>
                            <span id="city<%=i%>">city : </span><br>
                            <span id="state<%=i%>">state : </span><br>
                            <span id="pin<%=i%>">pincode : </span><br><br>

                            <% for(let j = 0;j<orders[i].items.length;++j){ %>
                                <span style="font-weight: bold;" id="orderid<%=i%>">Total Price-</span><br>
                                <span><%=orders[i].total_price%></span><br><br>
                                <span style="font-weight: bold;">Payment Method-</span><br>
                                <span><%=orders[i].items[0].payment_method%></span><br><br>
                                <%if(orders[i].items[0].coupon_code){%>
                                    <span style="font-weight: bold;">Coupon Applied-</span><br>
                                    <span style="text-transform:uppercase"><%=orders[i].items[j].coupon_code%></span>
                                    <%}%>
                                    <%break%>
                            <%}%>
                                </span>
                        <a class="cancel_order" id="cancelorder<%=i%>"
                            href="/shiprocket/<%= orders[i].order_id %>">Cancel
                            Items</a>


                           
                            <div class="all_ordersinfo_box">
                                <% for(let j = 0;j<orders[i].items.length;++j){ %>

                                <div class="order_center">
                                    <div class="order_center_left">
                                        <h3><%=orders[i].items[j].name%></h3>
                                        <span id="date<%=i %> " class="">Date: <%=orders[i].date%></span><br>
                                        <span>Price Paid : ₹<%=orders[i].items[j].total_price%></span><br>
                                        <span id="statu<%=i%><%=j%>">Status : status_bla</span><br>
                                        <span>Quantity : <%=orders[i].items[j].quantity%></span><br>

                                    </div>

                                    <div class="order_center_right">
                                        <img class="order_image" src="<%=orders[i].items[j].product_image%>"></img>
                                    </div>

                                </div>
                                <% { %>
                                <% var obj = track.find(o => o.order_id === orders[i].order_id+"_"+j) %>
                                <% if(obj){ %>

                                <% if(obj.shiprocket_order_info[0]==='<'){ %>
                                <p style="opacity: 0;visibility: collapse;position: absolute;" id="ship<%=i%><%=j%>"> shipment_id : N/A
                                </p>
                                <p style="opacity: 0;visibility: collapse;position: absolute;"> Shiprocket order id : N/A </p>
                                <% } %>
                                <% if(obj.shiprocket_order_info[0]!=='<'){ %>
                                <p style="opacity: 0;visibility: collapse;position: absolute;" id="ship<%=i%><%=j%>">shipment_id :
                                    <%= JSON.parse(obj.shiprocket_order_info).shipment_id %> </p>
                                <p style="opacity: 0;visibility: collapse;">Shiprocket order id :
                                    <%= JSON.parse(obj.shiprocket_order_info).order_id %></p>
                                <% } %>
                                <% } %>
                                <%if(typeof obj==='undefined'){%>
                                <p style="opacity: 0;visibility: collapse;position: absolute;" id="ship<%=i%><%=j%>"> shipment_id : N/A
                                </p>
                                <p style="opacity: 0;visibility: collapse;position: absolute;"> Shiprocket order id : N/A </p>
                                <%}%>
                            <%}%>
                                <%}%>
        
                        </div>
                    </div>


                    

                    </div>


                    <% { %>
                                <%var obj = track.find(o => o.order_id === orders[i].order_id+"_0")%>
                                <% if(typeof obj!=='undefined'){ %>

                                <% if(obj.shiprocket_order_info[0]==='<'){ %>
                                <input type="text" name="" id="order_id<%=i%>" value="null" style="display:none;">
                                <% } %>
                                <% if(obj.shiprocket_order_info[0]!=='<'){ %>
                                <input type="text" name="" id="order_id<%=i%>"
                                    value="<%= JSON.parse(obj.shiprocket_order_info).order_id %>" style="display:none;">

                                <% } %>

                                <% } %>
                                <% if(typeof obj==='undefined') {%>
                                <input type="text" name="" id="order_id<%=i%>" value="null" style="display:none;">

                                <% } %>
                                <% } %>


                                <input type="number" style="visibility: collapse; position: absolute;position: absolute;" id="len2<%=i%>"
                                    value="<%= orders[i].items.length %>">


                            </div>
                            <%}%>
                </div>
            </div>
        

        




        <script>
         var stat = ["Awb Assigned", "Label Generated",
                "Pickup Scheduled/Generated", "Pickup Queued",
                "Manifest Generated", "Shipped", "Delivered", "Cancelled",
                "RTO Initiated", "RTO Delivered", "Pending", "Lost",
                "Pickup Error", "RTO Acknowledged", "Pickup Rescheduled", "Cancellation Requested",
                "Out For Delivery",
                "In Transit", "Out For Pickup", "Pickup Exception", "Undelivered", "Delayed", "Partial_Delivered",
                "Destroyed", "Damaged",
                "Fulfilled", 
                "","","","","","","","","","","",
                "Reached at Destination", "Misrouted", "RTO NDR", "RTO OFD", "Picked Up",
                "Self Fulfilled", "DISPOSED_OFF", "CANCELLED_BEFORE_DISPATCHED",
                "RTO_IN_TRANSIT"
            ]
            for (let i = 0; i < Number(document.getElementById('len').value); ++i) {



                var observer = new MutationObserver(function (mutations) {
                    mutations.forEach(function (mutationRecord) {

                        if (document.getElementById('order_info' + i).style.display === "initial") {
                            var d = document.getElementById('date' + i).innerHTML
                            var p = d.split('-')
                            var date1 = new Date(p[1] + "/" + p[2] + "/" + p[0])
                            var today = new Date();
                            var dd = String(today.getDate()).padStart(2, '0');
                            var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                            var yyyy = today.getFullYear();

                            today = dd + '/' + mm + '/' + yyyy;
                            var date2 = new Date(mm + '/' + dd + '/' + yyyy)

                            var Difference_In_Time = date2.getTime() - date1.getTime();
                            var diff = Difference_In_Time / (1000 * 3600 * 24);
                            if (diff > 2) {
                                document.getElementById('cancelorder' + i).style.display = "none";
                                
                            }

                        }
                        //         if(document.getElementById('order_info'+i).style.display!=="none"){

                        //             var d = document.getElementById('date'+i).value

                        //         }
                    });
                });

                var target = document.getElementById('order_info' + i);
                observer.observe(target, {
                    attributes: true,
                    attributeFilter: ['style']
                });




                var id = document.getElementById('order_id' + i).value
                if (id != "null") {


                    var myHeaders2 = new Headers();
                    myHeaders2.append("Content-Type", "application/json");

                    var raw2 = JSON.stringify({
                        "email": "vinay9415756155@gmail.com",
                        "password": "Vishuddha@1120"
                    });

                    var requestOptions2 = {
                        method: 'POST',
                        headers: myHeaders2,
                        body: raw2,
                        redirect: 'follow'
                    };

                    fetch("https://apiv2.shiprocket.in/v1/external/auth/login", requestOptions2)
                        .then(response => response.text())
                        .then(result => {

                            var myHeaders = new Headers();
                            myHeaders.append("Content-Type", "application/json");
                            myHeaders.append("Authorization",
                                "Bearer " + JSON.parse(result).token
                            );
                            var requestOptions = {
                                method: 'GET',
                                headers: myHeaders,
                                redirect: 'follow'
                            };








                            fetch("https://apiv2.shiprocket.in/v1/external/orders/show/" + id, requestOptions)
                                .then(res => {
                                    console.log(res.text().then(rs => {
                                        //console.log(JSON.parse(rs).data)
                                        document.getElementById('add' + i).innerHTML = JSON
                                            .parse(rs).data.billing_address
                                        document.getElementById('city' + i).innerHTML = JSON
                                            .parse(rs).data.billing_city
                                        document.getElementById('state' + i).innerHTML = JSON
                                            .parse(rs).data.billing_state_name
                                        document.getElementById('pin' + i).innerHTML = JSON
                                            .parse(rs).data.billing_pincode
                                    }))
                                })
                                .catch(error => console.log('error', error));


                        })
                        .catch(error => console.log('error', error));

                }
            }







            for (let i = 0; i < Number(document.getElementById('len').value); ++i) {


                for (let k = 0; k < Number(document.getElementById('len2' + i).value); ++k) {





                    var myHeaders4 = new Headers();
                    myHeaders4.append("Content-Type", "application/json");

                    var raw4 = JSON.stringify({
                        "email": "vinay9415756155@gmail.com",
                        "password": "Vishuddha@1120"
                    });

                    var requestOptions4 = {
                        method: 'POST',
                        headers: myHeaders4,
                        body: raw4,
                        redirect: 'follow'
                    };

                    fetch("https://apiv2.shiprocket.in/v1/external/auth/login", requestOptions2)
                        .then(response => response.text())
                        .then(result => {
                            var myHeaders3 = new Headers();
                            myHeaders3.append("Content-Type", "application/json");
                            myHeaders3.append("Authorization", "Bearer " + JSON.parse(result).token);
                            var requestOptions3 = {
                                method: 'GET',
                                headers: myHeaders3,
                                redirect: 'follow'
                            };
                            if (document.getElementById('ship' + i + k).innerHTML.split(':')[1].trim() !== "N/A") {
                                fetch("https://apiv2.shiprocket.in/v1/external/shipments/" + document
                                        .getElementById('ship' + i + k).innerHTML.split(':')[1].trim(),
                                        requestOptions3)
                                    .then(response => response.text())
                                    .then(result => {
                                        document.getElementById(
                                            'statu' + i + k).innerHTML = "Status : " + stat[JSON.parse(
                                            result).data.status - 1]
                                            if (JSON.parse(
                                            result).data.status === 8) {
                        document.getElementById('cancelorder' + i).style.display = "none"
                    }

                                    })
                                    .catch(error => console.log('error', error));
                            } else {
                                document.getElementById('statu' + i + k).innerHTML = "Status : Cancelled"
                            }
                        })

                    


                }



                document.getElementById('order_bf_click' + i).addEventListener('click', () => {
                    document.getElementById('order_info' + i).style.display = "initial"
                    document.getElementById("cart_box_head").style.display = "none"
                    document.getElementById('my_orders').innerHTML = "Back"



                    for (let j = 0; j < Number(document.getElementById('len').value); ++
                        j) {
                        document.getElementById('but' + j).style.display = "none"
                        document.getElementById("date" + j).style.display = "none"
                        document.getElementById("totalprice" + j).style.display = "none"
                        document.getElementById("order_bf_click" + j).style.visibility = "collapse"
                        document.getElementById("status" + j).style.display = "none"
                    }



                })
            }

            document.getElementById('my_orders').addEventListener("click", () => {
                document.getElementById('my_orders').innerHTML = "My Orders"
                document.getElementById("cart_box_head").style.display = "flex"

                for (let i = 0; i < Number(document.getElementById('len').value); ++i) {
                    document.getElementById('order_info' + i).style.display = "none"
                    document.getElementById('but' + i).style.display = "initial"
                    document.getElementById("date" + i).style.display = "initial"
                    document.getElementById("totalprice" + i).style.display = "initial"
                    document.getElementById("status" + i).style.display = "initial"
                    document.getElementById("order_bf_click" + i).style.visibility = "visible"



                }
            });
        </script>

        <%- include('head-foot/footer'); -%>