<%- include('head-foot/header'); -%>


<div class="main_box">
    <h3 class="tnm">My Orders</h3>
    <div class="order_box_head">

    </div>
    <%for(var i=0;i<orders.length;i++){%>


    <% for(let j = 0;j<orders[i].items.length;++j){ %>
    <div class="order_box">
        <div class="order_flex">
            <img class="order_image" src="<%=orders[i].items[j].product_image%>"></img>
            <div class="ordeer_mid" style="flex:1;">
                <h3><%=orders[i].items[j].name%></h3>
            </div>
            <div class="order_details">
                <p><span style="font-weight:bolder;">Date:</span> <%=orders[i].date%></p>
                <p><span style="font-weight:bolder;">Original Price:</span> ₹<%=orders[i].items[j].original_price%></p>
                <p><span style="font-weight:bolder;">Quantity:</span> <%=orders[i].items[j].quantity%></p>
                <p><span style="font-weight:bolder;">Price Paid:</span> ₹<%=orders[i].items[j].total_price%></p>
            </div>

        </div>

    </div>
    <% } %>
    <!-- <img class="cart_box_img" src="<%=orders[i].product_image%>" alt=""> -->

    <%}%>



</div>


<%- include('head-foot/footer'); -%>