<%- include('head-foot/header'); -%>

<div class="main_box_2">

    <form action="/full_payment" method="POST">
        <p class="namefield_all" style="margin-bottom: 0;">Total Amount -</p>
        <input class="mailinput" type="text" name="tot_price" id="" value="<%= tot_price %>" readonly>
        <p class="namefield_all" style="margin-bottom: 0;">First Name -</p>

        <input class="mailinput" type="text" name="fname" id="" value="<%= fname %> " readonly>
        <p class="namefield_all" style="margin-bottom: 0;">Last Name -</p>
        <input class="mailinput" type="text" name="lname" id="" value="<%= lname %> " readonly>
        <p class="namefield_all" style="margin-bottom: 0;">Email -</p>
        <input class="mailinput" type="text" name="email" id="" value="<%= email %> " readonly>
        <p class="namefield_all" style="margin-bottom: 0;">Phone Number -</p>
        <input class="mailinput" type="text" name="phone" id="" value="" placeholder="Phone" required>
        <p class="namefield_all" style="margin-bottom: 0;">Address -</p>
        <input class="mailinput" type="text" name="billing_address1" id="" value="" placeholder="Billing Address" required>
        <p class="namefield_all" style="margin-bottom: 0;">City -</p>
        <input class="mailinput" type="text" name="city" id="" value="" placeholder="City" required>
        <p class="namefield_all" style="margin-bottom: 0;">Pincode -</p>
        <input class="mailinput" type="text" name="pincode" id="" value="" placeholder="Pincode" required>
        <p class="namefield_all" style="margin-bottom: 0;">State -</p>
        <input class="mailinput" type="text" name="state" id="" value="" placeholder="State" required>
        <!-- <input class="mailinput" type="text" name="country" id="" value="" placeholder="Country"> -->
        <button class="btn-register-login" type="submit">Next</button>

    </form>
</div>


<%- include('head-foot/footer'); -%>