<%- include('head-foot/header'); -%>

<div class="main_box_flex_x">

    <div class="main_box_bfp">
        <form action="/payment_confirm" method="POST" id='form'>
            <input style="visibility: collapse;opacity:0;" type="text" name="order_id" id="order_id"
                value="<%= order_id %>">
            <p class="namefield_all" style="margin-bottom: 0;">Name -</p>
            <input class="mailinput" type="text" name="name" id="name" value="<%= name %>" readonly>
            <p class="namefield_all" style="margin-bottom: 0;">Email -</p>
            <input class="mailinput" type="text" name="email" id="email" value="<%= email %>" readonly>
            <p class="namefield_all" style="margin-bottom: 0;">Phone Number -</p>
            <input class="mailinput" type="text" name="phone" id="phone" value="<%= phone %>" placeholder="Phone"
                readonly>
            <p class="namefield_all" style="margin-bottom: 0;">Total Amount -</p>
            <input class="mailinput" type="text" name="amount" id="amount" value="<%= amount %>" readonly>
            <p class="namefield_all" style="margin-bottom: 0;">Address -</p>
            <input class="mailinput" type="text" name="billing_address1" id="" value="<%= billing_address1 %>"
                placeholder="Billing Address" required>
            <p class="namefield_all" style="margin-bottom: 0;">City -</p>
            <input class="mailinput" type="text" name="city" id="" value="<%= city %>" placeholder="City" required>
            <p class="namefield_all" style="margin-bottom: 0;">Pincode -</p>
            <input class="mailinput" type="text" name="pincode" id="" value="<%= pincode %>" placeholder="Pincode"
                required>
            <p class="namefield_all" style="margin-bottom: 0;">State -</p>
            <input class="mailinput" type="text" name="state" id="" value="<%= state %>" placeholder="State" required>
            <button class="btn-register-login" id="rzp-button1">Pay Online</button>
            <button class="btn-register-login1" type="submit">Cash On Delivery</button>
            <p class="shipping_charges">*₹50 extra as shipping charges!</p>

            <input style="visibility: collapse;opacity:0;" type="text" name="payment_signature" id="payment_signature"
                value="" placeholder="payment_signature">
            <input style="visibility: collapse;opacity:0;" type="text" name="payment_id" id="payment_id" value=""
                placeholder="payment_id">


            <!-- <input type="text" name="country" id="" value="<%= country %>" placeholder="Country"> -->
            <!-- <input type="text" name="billing_address2" id="" value="<%= billing_address2%> " placeholder="Billing Address-2"> -->

        </form>


        <form action="/payment_failed" method="POST" class="form1">
            <input style="position:absolute;visibility: collapse;opacity:0;" type="text" name="failed" id="">
        </form>
        

    </div>
    <div class="main_box_payment_div2">
        <br><br>
        <%for(var i=0;i<user.cart.length;i++){%>
        <div class="product_images_before_payment_div"><img src="<%=user.cart[i].product_image%>"
                class="product_images_before_payment" alt=""></div>
        <div class="product_before_payment_details">
            <h3><%=user.cart[i].name%></h3>
            <h4>Total Price: <span style="font-weight: 400;">₹<%=user.cart[i].total_price%></span></h4>
            <h5>Quantity: <span style="font-weight: 400;"><%=user.cart[i].quantity%></span></h5>
            <h5>Coupon Applied: <span style="font-weight: 400;"><%=(user.cart[i].coupon_code.toUpperCase())%></span>
            </h5>
        </div>
        <br>
        <%}%>
    </div>

</div>
<input style="position:absolute;visibility:collapse;opacity:0;" type="text" id="order_id" value="<%= order_id %>">

            <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
            <script>
                var options = {
                    "key": "rzp_test_uRdnjYH7dCkuEr", // Enter the Key ID generated from the Dashboard
                    "currency": "INR",
                    "name": "Vishuddha Crops",
                    "description": "Order ID:" + String(document.getElementById('order_id').value),
                    "image": "https://img1.wsimg.com/isteam/ip/3347e55c-bce2-49cf-babe-4e156ce94552/favicon/1da8e68b-6374-48c8-8049-d62292c72173.png/:/rs=w:64,h:64,m",
                    "order_id": String(document.getElementById('order_id')
                        .value), //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                    "handler": function (response) {
                        // alert(response.razorpay_payment_id);
                        // alert(response.razorpay_order_id);
                        // alert(response.razorpay_signature)
                        document.getElementById('payment_signature').value = response.razorpay_signature
                        document.getElementById('payment_id').value = response.razorpay_payment_id
                        document.getElementById('form').submit();

                    },
                    "prefill": {
                        "name": String(document.getElementById('name').value),
                        "email": String(document.getElementById('email').value),
                        "contact": String(document.getElementById('phone').value)
                    },
                    "notes": {
                        "address": "Razorpay Corporate Office"
                    },
                    "theme": {
                        "color": "#a88f2b"
                    }
                };
                var rzp1 = new Razorpay(options);
                rzp1.on('payment.failed', function (response) {
                    // alert(response.error.code);
                    // alert(response.error.description);
                    // alert(response.error.source);
                    // alert(response.error.step);
                    // alert(response.error.reason);
                    // alert(response.error.metadata.order_id);
                    // alert(response.error.metadata.payment_id);
                    document.getElementById('form1').submit();

                });
                document.getElementById('rzp-button1').onclick = function (e) {
                    rzp1.open();
                    e.preventDefault();
                }
            </script>


            <%- include('head-foot/footer'); -%>