<%- include('head-foot/header'); -%>

<div class="main_box_blog_1">
    
<%for(var i=0;i<post.length;i+=2){%>
    <% if(i+1<post.length) { %>

    <div class="blog_number">
        <div class="blog_left">

<!-- ********************************************************************************************** -->


            <div class="product_description" id = "hover<%=i%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id = "data<%=i%>" style="visibility: collapse;"><p><%=post[i].product_description%></p></div>

<!-- ********************************************************************************************** -->






            <div class="image_of_product">
                
                <img class="blogimg_products" src="<%=post[i].product_image%>" alt="">
                <h1 class="blogh1"><%= post[i].product_name%></h1>
                <a class="add_to_cart" href="/products/<%=post[i]._id%>"><i class="fas fa-cart-plus"></i></a>
                <%var price=post[i].product_price-((post[i].product_price*post[i].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" style="opacity: 0.5;color: rgb(0 0 0);">You save
                    ₹ <%=(post[i].product_price-price)%></p>
            </div>




        </div>
        <div class="blog_right">


<!-- ********************************************************************************************** -->

            <div class="product_description" id = "hover<%=i+1%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id = "data<%=i+1%>" style="visibility: collapse;"><p><%=post[i+1].product_description%></p></div>

<!-- ********************************************************************************************** -->


            <div class="image_of_product">
                <img class="blogimg_products" src="<%=post[i+1].product_image%>" alt="">


                <h1 class="blogh1"><%= post[i+1].product_name%></h1>
                <a class="add_to_cart" href="/products/<%=post[i+1]._id%>"><i class="fas fa-cart-plus"></i></a>
                <%var price=post[i+1].product_price-((post[i+1].product_price*post[i+1].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" style="opacity: 0.5;color: rgb(0 0 0);">You save
                    ₹ <%=(post[i+1].product_price-price)%></p>

            </div>




        </div>
    </div>
    <% } %>
    <% if(i+1>=post.length) { %>

    <div class="blog_number">
        <div class="blog_center">

<!-- ********************************************************************************************** -->

            <div class="product_description" id = "hover<%=i%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id = "data<%=i%>" style="visibility: collapse;"><p><%=post[i].product_description%></p></div>


<!-- ********************************************************************************************** -->

            <div class="image_of_product">

                <img class="blogimg_products" src="<%=post[i].product_image%>" alt="">


                <h1 class="blogh1"><%= post[i].product_name%></h1>
                <a class="add_to_cart" href="/products/<%=post[i]._id%>"><i class="fas fa-cart-plus"></i></a>
                <%var price=post[i].product_price-((post[i].product_price*post[i].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" style="opacity: 0.5;color: rgb(0 0 0);">You save
                    ₹ <%=(post[i].product_price-price)%></p>

            </div>


        </div>
    </div>
    <% } %>
    <%}%>

</div>

<input type="number" id = "length" value="<%= post.length %>">

<%- include('head-foot/footer'); -%>





    <script>
        document.getElementById("products").style.borderBottom = "2px solid rgb(212, 180, 53)";
        document.getElementById("products").style.paddingBottom = "5px";
         
        for(let i = 0;i<Number(document.getElementById('length').value);++i){
            document.getElementById('hover'+i).addEventListener('mouseover',()=>{
                document.getElementById('data'+i).style.visibility = "visible";
            })

            document.getElementById('hover'+i).addEventListener('mouseleave',()=>{
                document.getElementById('data'+i).style.visibility = "collapse";
            })
        }
        


        // document.getElementById("products").style.boxShadow = "0px 5px 5px #e8e8e8";
    </script>