<%- include('head-foot/header'); -%>
<h1 style="opacity: 0;position: absolute;">EXPERIENCE THE LUXURY</h1>
<h2 style="opacity: 0;position: absolute;">Almond oil</h2>
<h2 style="opacity: 0;position: absolute;">Coconut oil</h2>
<h2 style="opacity: 0;position: absolute;">Luxury</h2>
<h2 style="opacity: 0;position: absolute;">Luxury Almond oil</h2>
<h2 style="opacity: 0;position: absolute;">Luxury Coconut oil</h2>

<div class="main_box_blog_1">

    <%for(var i=0;i<post.length;i+=2){%>
    <% if(i+1<post.length) { %>

    <div class="blog_number">
        <div class="blog_left">

            <!-- ********************************************************************************************** -->


            <div class="product_description_i" id="hover<%=i%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id="data<%=i%>" style="visibility: collapse;opacity: 0;">
                <p><%=post[i].product_description%></p>
            </div>

            <!-- ********************************************************************************************** -->






            <div class="image_of_product">

                <img class="blogimg_products" src="<%=post[i].product_image%>" alt="product image">
                <h2 class="blogh1"><%= post[i].product_name%></h2>
                <a class="add_to_cart" href="/products/<%=post[i]._id%>"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                <%var price=post[i].product_price-((post[i].product_price*post[i].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" id="price_products<%=i%>" style="opacity: 0.5;">You save
                    ₹ <%=(post[i].product_price-price)%>(<%=post[i].product_discount%>%)</p>
            </div>




        </div>
        <div class="blog_right">


            <!-- ********************************************************************************************** -->

            <div class="product_description_i" id="hover<%=i+1%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id="data<%=i+1%>" style="visibility: collapse;opacity: 0;">
                <p><%=post[i+1].product_description%></p>
            </div>

            <!-- ********************************************************************************************** -->


            <div class="image_of_product">
                <img class="blogimg_products" src="<%=post[i+1].product_image%>" alt="product image">


                <h2 class="blogh1"><%= post[i+1].product_name%></h2>
                <a class="add_to_cart" href="/products/<%=post[i+1]._id%>"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                <%var price=post[i+1].product_price-((post[i+1].product_price*post[i+1].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" id="price_products<%=(i+1)%>" style="opacity: 0.5;">You save
                    ₹ <%=(post[i+1].product_price-price)%>(<%=post[i+1].product_discount%>%)</p>

            </div>




        </div>
    </div>
    <% } %>
    <% if(i+1>=post.length) { %>

    <div class="blog_number">
        <div class="blog_center">

            <!-- ********************************************************************************************** -->

            <div class="product_description_i" id="hover<%=i%>"><i class="fas fa-info"></i></div>
            <div class="description_data" id="data<%=i%>" style="visibility: collapse;opacity: 0;">
                <p><%=post[i].product_description%></p>
            </div>


            <!-- ********************************************************************************************** -->

            <div class="image_of_product">

                <img class="blogimg_products" src="<%=post[i].product_image%>" alt="product image">


                <h2 class="blogh1"><%= post[i].product_name%></h2>
                <a class="add_to_cart" href="/products/<%=post[i]._id%>"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                <%var price=post[i].product_price-((post[i].product_price*post[i].product_discount)/100)%>
                <p class="price_products_font">₹ <%=price%></p>
                <p class="price_products" id="price_products<%=i%>" style="opacity: 0.5;">You save
                    ₹ <%=(post[i].product_price-price)%>(<%=post[i].product_discount%>%)</p>

            </div>


        </div>
    </div>
    <% } %>
    <%}%>

</div>

<input type="number" id = "length" value="<%= post.length %>" style="opacity: 0;visibility: collapse; position:
    absolute;">






    <script>
        document.getElementById("products").style.borderBottom = "0.13020833333333334vw solid rgb(212, 180, 53)";
        document.getElementById("products").style.paddingBottom = "0.3255208333333333vw";

        for (let i = 0; i < Number(document.getElementById('length').value); ++i) {

            if (Number(document.getElementById("price_products" + i).innerText.split(")")[0].split("(")[1]
                    .split("%")[0]) > 0) {
                document.getElementById("price_products" + i).style.color = "rgb(38 168 38)";
                document.getElementById("price_products" + i).style.opacity = "1";
                document.getElementById("price_products" + i).style.fontWeight = "500"
            }


            document.getElementById('hover' + i).addEventListener('mouseover', () => {
                document.getElementById('data' + i).style.visibility = "visible";
                document.getElementById('data' + i).style.opacity = "0.95";

            })

            document.getElementById('hover' + i).addEventListener('mouseleave', () => {
                document.getElementById('data' + i).style.visibility = "collapse";
                document.getElementById('data' + i).style.opacity = "0";

            })
        }



        // document.getElementById("products").style.boxShadow = "0px 5px 5px #e8e8e8";
    </script>


    <%- include('head-foot/footer'); -%>